@import "~/.cache/wal/colors-rofi-dark"
//@theme "$HOME/.local/share/rofi/themes/YoRHA.rasi"
@theme "~/.local/share/rofi/themes/nova-dark.rasi"

configuration {
    hover-select: true;
    me-accept-entry: [ MousePrimary, MouseSecondary, MouseDPrimary ];
    me-select-entry: "";
}
